# Melos
*.iml
pubspec_overrides.yaml

# Files and directories created by pub.
.dart_tool/
.packages

# Binaries build from dart/sshnoports
packages/dart/sshnoports/bin/activate_cli
packages/dart/sshnoports/bin/at_activate
packages/dart/sshnoports/bin/demo/npa_cli
packages/dart/sshnoports/bin/demo/sshnpa_always_deny
packages/dart/sshnoports/bin/npt
packages/dart/sshnoports/bin/srv
packages/dart/sshnoports/bin/srvd
packages/dart/sshnoports/bin/sshnp
packages/dart/sshnoports/bin/sshnpd

packages/dart/sshnoports/build/

# Jetbrains
.idea/*

#vscode
.vscode/*
!.vscode/launch.json

#Docker
.devcontainer
compose-dev.yaml

# atPlatform stuff
*.hive
*.hash
*.atKeys

# Ignore root pubspec.lock only
/pubspec.lock

# Conventional directory for build output.
build/

# Macos
.DS_Store

# Python
dist/
poetry.lock
__pycache__

.env