# Files and directories created by pub.
.dart_tool/
.packages

#vscode
.vscode

#Files created by montior.sh
session_output.txt


# atPlatform stuff
*.hive
*.hash
*.atKeys
# Ignore pubspec.lock
pubspec.lock

# Conventional directory for build output.
build/

# Macos
.DS_Store
