# Files and directories created by pub.
.dart_tool/
.packages
# atPlatform stuff
*.hive
*.hash
*.atKeys
# Ignore pubspec.lock
pubspec.lock

# Conventional directory for build output.
build/

# Macos
.DS_Store

# ssh keys
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub