name: sshnp_flutter
description: ssh to any remove device using atsign
version: 1.0.1+7
publish_to: "none" # Remove this line if you wish to publish to pub.dev

environment:
  sdk: ">=2.19.0 <3.0.0"

dependency_overrides:
  intl: ^0.17.0-nullsafety.2
  dartssh2:
    git:
      url: https://github.com/atsign-foundation/dartssh2
      ref: trunk
  args:
    git:
      ref: gkc/show-aliases-in-usage
      url: https://github.com/gkc/args

dependencies:
  at_app_flutter: ^5.0.1
  at_backupkey_flutter: ^4.0.13
  at_client_mobile: ^3.2.11
  at_common_flutter: ^2.0.13
  at_contact: ^3.0.7
  at_contacts_flutter: ^4.0.5
  at_onboarding_flutter: ^6.1.4
  at_utils: ^3.0.11
  biometric_storage: ^5.0.0+4
  dartssh2: ^2.8.2
  dotted_border: ^2.1.0
  file_selector: ^1.0.1
  flutter:
    sdk: flutter
  flutter_dotenv: ^5.0.2
  flutter_launcher_icons: ^0.13.1
  flutter_localizations:
    sdk: flutter
  flutter_riverpod: ^2.3.6
  flutter_svg: ^2.0.7
  go_router: ^14.2.7
  intl: any
  macos_ui: ^2.0.0
  mocktail: ^1.0.0
  noports_core:
    path: ../noports_core
  package_info_plus: ^8.0.2
  page_transition: ^2.0.9
  path: ^1.8.3
  path_provider: ^2.1.3
  shared_preferences: ^2.2.2
  socket_connector: ^2.0.1
  url_launcher: ^6.1.14
  uuid: ^3.0.7
  window_manager: ^0.4.2
  xterm: ^4.0.0

dev_dependencies:
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  msix: ^3.16.7

flutter:
  uses-material-design: true
  generate: true
  assets:
    # - .env
    - assets/images/nav_icons/
    - assets/images/

  fonts:
    - family: 0xProtoNerdFont
      fonts:
        - asset: assets/fonts/0xProtoNerdFontMono-Regular.ttf
        - asset: assets/fonts/0xProtoNerdFont-Regular.ttf
    - family: IosevkaTermNerdFontPropo
      fonts:
        # - asset: assets/fonts/IosevkaTermNerdFontPropo-Bold.ttf
        # - asset: assets/fonts/IosevkaTermNerdFontPropo-BoldItalic.ttf
        # - asset: assets/fonts/IosevkaTermNerdFontPropo-Italic.ttf
        - asset: assets/fonts/IosevkaTermNerdFontPropo-Regular.ttf
    - family: GeistMonoNerdFont
      fonts:
        # - asset: assets/fonts/GeistMonoNerdFont-Bold.ttf
        # - asset: assets/fonts/GeistMonoNerdFont-BoldItalic.ttf
        # - asset: assets/fonts/GeistMonoNerdFont-Italic.ttf
        - asset: assets/fonts/GeistMonoNerdFont-Regular.otf

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/images/app_logo.png"
  macos:
    generate: true
    image_path: "assets/images/app_logo.png"
  windows:
    generate: true
    image_path: "assets/images/app_logo.png"

msix_config:
  display_name: "SSH No Ports Desktop"
  publisher_display_name: "Atsign"
  identity_name: "TheCompany.SSHNoPortsDesktop"
  publisher: CN=BBFE1D0B-F713-4C7F-B375-5EA851CBB1FF
  msix_version: 1.0.5.0
  logo_path: "assets/images/app_logo.png"
  capabilities: internetClient
  store: true
