name: sshnp_flutter
description: ssh to any remove device using atsign
version: 1.0.0+3
publish_to: "none" # Remove this line if you wish to publish to pub.dev

environment:
  sdk: ">=2.19.0 <3.0.0"

# issue_1232
dependency_overrides:
  xterm:
    git:
      url: https://github.com/box-apps/xterm.dart
      ref: master
  # at_commons: ^4.0.0
  # at_client_mobile:
  #   git:
  #     url: https://github.com/atsign-foundation/at_client_sdk
  #     ref: issue_1232
  #     path: packages/at_client_mobile
  # file_picker: ^6.0.0
  # at_onboarding_flutter: 6.1.3
  intl: ^0.17.0-nullsafety.2
  # image: ^3.1.3
  zxing2: ^0.2.0
  mocktail: ^1.0.0

dependencies:
  at_app_flutter: ^5.0.1
  at_backupkey_flutter: ^4.0.13
  at_client_mobile: ^3.2.11
  at_common_flutter: ^2.0.13
  at_contact: ^3.0.7
  at_contacts_flutter: ^4.0.5
  at_onboarding_flutter: ^6.1.4
  at_utils: ^3.0.11
  biometric_storage: ^5.0.0+4
  dartssh2: ^2.8.2
  dotted_border: ^2.1.0
  file_selector: ^1.0.1
  flutter:
    sdk: flutter
  flutter_dotenv: ^5.0.2
  flutter_launcher_icons: ^0.13.1
  flutter_localizations:
    sdk: flutter
  flutter_riverpod: ^2.3.6
  flutter_svg: ^2.0.7
  go_router: ^13.2.0
  intl: any
  macos_ui: ^2.0.0
  mocktail: ^1.0.0
  noports_core: 6.0.1
  page_transition: ^2.0.9
  path: ^1.8.3
  path_provider: ^2.1.1
  shared_preferences: ^2.2.2
  socket_connector: ^2.0.1
  url_launcher: ^6.1.14
  uuid: ^3.0.7
  window_manager: ^0.3.8
  xterm: ^3.5.0

dev_dependencies:
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter
  msix: ^3.16.7

flutter:
  uses-material-design: true
  generate: true
  assets:
    # - .env
    - assets/images/nav_icons/
    - assets/images/
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/images/app_logo.png"
  macos:
    generate: true
    image_path: "assets/images/app_logo.png"
  windows:
    generate: true
    image_path: "assets/images/app_logo.png"

msix_config:
  display_name: "SSH No Ports Desktop"
  publisher_display_name: "Atsign"
  identity_name: "TheCompany.SSHNoPortsDesktop"
  publisher: CN=BBFE1D0B-F713-4C7F-B375-5EA851CBB1FF
  msix_version: 1.0.0.0
  logo_path: null
  capabilities: internetClient
  store: true
