
version: '3.8'

services:
  image-manual-release:
    build:
      context: ../../../
      dockerfile: ./tests/end2end_tests/image/Dockerfile
      target: manual-release
    image: atsigncompany/sshnp-e2e-manual:release
    deploy:
      mode: replicated
      replicas: 0
  container-sshnp:
    image: atsigncompany/sshnp-e2e-manual:release
    container_name: manual_release_sshnp
    volumes:
      - ../../../tests/end2end_tests/contexts/sshnp/.atsign/keys/:/atsign/.atsign/keys/ # mount keys
    networks:
      - sshnp
    depends_on:
      - image-manual-release
  container-sshnpd:
    image: atsigncompany/sshnp-e2e-manual:release
    container_name: manual_release_sshnpd
    volumes:
      - ../../../tests/end2end_tests/contexts/sshnpd/.atsign/keys/:/atsign/.atsign/keys/ # mount keys
    networks:
      - sshnpd
    depends_on:
      - image-manual-release
  container-sshrvd:
    image: atsigncompany/sshnp-e2e-manual:release
    container_name: manual_release_sshnp
    volumes:
      - ../../../tests/end2end_tests/contexts/sshrvd/.atsign/keys/:/atsign/.atsign/keys/ # mount keys
    network_mode: host
    depends_on:
      - image-manual-release

networks:
  sshnpd:
    name: atsigncompany/sshnp-e2e-manual-network-sshnpd
    driver: bridge
  sshnp:
    name: atsigncompany/sshnp-e2e-manual-network-sshnp
    driver: bridge