[Unit]
Description=Ssh! No Ports Daemon
After=network-online.target

[Service]
User=<username>
Type=simple
Restart=always
ExecStartPre=/bin/sleep 10
RestartSec=3
ExecStart=/usr/bin/screen -DmS sshnpd /home/pi/sshnp/sshnpd -a <@deviceatsign> -m <@manageratsign> -u -d <my_device> -s -v

[Install]
WantedBy=multi-user.target