name: e2e_all

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - trunk

  pull_request:
    paths-ignore:
      - "docs/**"
    branches:
      - trunk
      - release-v*.*.*

jobs:
  e2e_all:
    # Don't run on PRs from a fork or Dependabot as the secrets aren't available
    if:
      ${{ github.event.pull_request.head.repo.fork == false && github.actor !=
      'dependabot[bot]'}}
    concurrency: e2e_all
    runs-on: ubuntu-latest

    steps:
      - name: execute tests on cicd vm
        uses: appleboy/ssh-action@029f5b4aeeeb58fdfe1410a5d17f967dacf36262 # v1.0.3
        env:
          SHA: ${{ github.event.pull_request.head.sha || github.sha }}
        with:
          host: ${{ secrets.NOPORTS_CICD_HOST }}
          username: ubuntu
          key: ${{ secrets.NOPORTS_CICD_SSH_KEY }}
          envs: SHA
          script: |
            cd noports
            rm -rf tests/e2e_all/runtime
            mkdir -p tests/e2e_all/runtime
            echo "Running git fetch"
            git fetch
            echo "Running git checkout -f $SHA"
            git checkout -f "$SHA"
            echo "Running tests"
            tests/e2e_all/scripts/main.sh @apricoteventual @combinedbelgian @rv_am
