name: Multibuild

on:
  workflow_dispatch:

permissions: # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  x64_build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./packages/sshnoports
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        include:
          - os: ubuntu-latest
            output-name: sshnp-linux-x64
          - os: macOS-latest
            output-name: sshnp-macos-x64

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Ensure version matches tag
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: ./packages/sshnoports
        run: |
          # check version.dart
          REF=${{ github.ref }}
          TAG=${REF:11}
          DART_TAG="v$(grep -Po '^const String version = "(.*)";' lib/version.dart | cut -d'"' -f2)"
          if [ "$TAG" != "$DART_TAG" ]; then
            echo "Tag $TAG does not match version in version.dart: $DART_TAG"
            exit 1
          fi

      - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f # v1.5.0
      - run: mkdir sshnp
      - run: mkdir tarball
      - run: dart pub get
      - run: dart compile exe bin/activate_cli.dart -v -o sshnp/at_activate
      - run: dart compile exe bin/sshnp.dart -v -o sshnp/sshnp
      - run: dart compile exe bin/sshnpd.dart -v -o sshnp/sshnpd
      - run: dart compile exe bin/sshrv.dart -v -o sshnp/sshrv
      - run: dart compile exe bin/sshrvd.dart -v -o sshnp/sshrvd
      - run: cp -r templates sshnp/templates
      - run: cp LICENSE sshnp
      - run: tar -cvzf tarball/${{ matrix.output-name }}.tgz sshnp
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: x64_binaries
          path: ./packages/sshnoports/tarball/${{ matrix.output-name }}.tgz
          if-no-files-found: error

  other_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/sshnoports
    strategy:
      matrix:
        platform: [linux/arm/v7, linux/arm64, linux/riscv64]
        include:
          - platform: linux/arm/v7
            output-name: sshnp-linux-arm
          - platform: linux/arm64
            output-name: sshnp-linux-arm64
          - platform: linux/riscv64
            output-name: sshnp-linux-riscv64
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Ensure version matches tag
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: ./packages/sshnoports
        run: |
          # check version.dart
          REF=${{ github.ref }}
          TAG=${REF:11}
          DART_TAG="v$(grep -Po '^const String version = "(.*)";' lib/version.dart | cut -d'"' -f2)"
          if [ "$TAG" != "$DART_TAG" ]; then
            echo "Tag $TAG does not match version in version.dart: $DART_TAG"
            exit 1
          fi

      - uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2.2.0
      - uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2.10.0
      - run: |
          docker buildx build -t atsigncompany/sshnptarball -f tools/Dockerfile.package \
          --platform ${{ matrix.platform }} -o type=tar,dest=bins.tar .
      - run: mkdir tarballs
      - run: tar -xvf bins.tar -C tarballs
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: other_binaries
          path: ./packages/sshnoports/tarballs/${{ matrix.output-name }}.tgz
          if-no-files-found: error

  notify_on_completion:
    needs: [x64_build, other_build]
    runs-on: ubuntu-latest
    steps:
      - name: Google Chat Notification
        uses: Co-qn/google-chat-notification@3691ccf4763537d6e544bc6cdcccc1965799d056 # v1
        with:
          name: SSH no ports binaries were built by GitHub Action ${{ github.run_number }}
          url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
          status: ${{ job.status }}

  notify_on_failure:
    if: failure()
    needs: [x64_build, other_build]
    runs-on: ubuntu-latest
    steps:
      - name: Google Chat Notification
        uses: Co-qn/google-chat-notification@3691ccf4763537d6e544bc6cdcccc1965799d056 # v1
        with:
          name: SSH no ports binaries build FAILED by GitHub Action ${{ github.run_number }}
          url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
          status: ${{ job.status }}
