name: Bump requirements.txt
on:
  pull_request:
    paths:
      - 'packages/python/sshnpd/pyproject.toml'
      - 'examples/automations/python/sshnoports_automation_python/pyproject.toml'
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  bump_requirements:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout this repo
      if: ${{ github.actor == 'dependabot[bot]' }}
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.ref }}
        token: ${{ secrets.MY_GITHUB_TOKEN }}

    - name: Set up Python
      if: ${{ github.actor == 'dependabot[bot]' }}
      uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
      with:
          python-version: '3.11'

    - name: Install Poetry
      if: ${{ github.actor == 'dependabot[bot]' }}
      uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439 # v3.0.0
      with:
        poetry-version: '1.7.1'

    - name: Bump sshnpd Python dependencies
      working-directory: packages/python/sshnpd
      if: ${{ github.actor == 'dependabot[bot]' }}
      run: |
        poetry update
        poetry export --format requirements.txt --output requirements.txt
        git config --global user.name 'dependabot[bot]'
        git config --global user.email 'dependabot[bot]@users.noreply.github.com'
        git add requirements.txt
        if [ -z "$(git status --porcelain)" ]; then 
          echo 'No changes to commit on this run'
          exit 0
        else
          git commit -m "build(deps): Bump sshnpd requirements.txt"
          git push
        fi

    - name: Bump sshnoports_automation_python Python dependencies
      working-directory: examples/automations/python
      if: ${{ github.actor == 'dependabot[bot]' }}
      run: |
        poetry update
        poetry export --format requirements.txt --output requirements.txt
        git config --global user.name 'dependabot[bot]'
        git config --global user.email 'dependabot[bot]@users.noreply.github.com'
        git add requirements.txt
        if [ -z "$(git status --porcelain)" ]; then 
          echo 'No changes to commit on this run'
          exit 0
        else
          git commit -m "build(deps): Bump sshnoports_sdk requirements.txt"
          git push
        fi
